<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<ol>
  <%= render @category.dishes %>
</ol>
<p><%= time_ago_in_words @category.created_at %>
</p>

<p><%= number_with_delimiter @price_of_happiness %>
</p>
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
